<div id="notepad">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-closeempty mui-pull-left close"></a>
        <a class="mui-icon mui-icon-checkmarkempty mui-pull-right send">保存</a>
        <h1 class="mui-title">新建事务</h1>
    </header>

    <div id="slider" class="mui-slider">
        <div class="mui-slider-group">
            <!-- 第一张 -->
            <div class="mui-slider-item">
                <button type="button" class="mui-pull-right editBtn">编辑</button>
                <div class="article-content">

                </div>
            </div>
            <!-- 第二张 -->
            <div class="mui-slider-item">
                <button type="button" class="mui-pull-right editBtn">编辑</button>
                <div class="editTop">

                </div>
                <div class="article-content"></div>
            </div>
            <!-- 第三张 -->
            <div class="mui-slider-item">
                <button type="button" class="mui-pull-right editBtn">编辑</button>
                <div class="editTop">

                </div>
                <div class="article-content"></div>
            </div>
            <!-- 第四张 -->
            <div class="mui-slider-item">
                <button type="button" class="mui-pull-right editBtn">编辑</button>
                <div class="editTop">

                </div>
                <div class="article-content"></div>
            </div>
        </div>
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
</div>