<div id="addRecipient">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-closeempty mui-pull-left close"></a>
        <a class="mui-icon mui-icon-checkmarkempty mui-pull-right confirm">确定</a>
        <h1 class="mui-title">选择用户</h1>
    </header>
    <div class="recipient-list">
        <dl>
            <dt><input type="checkbox" name="user" value="" style="zoom:130%;"><label>单位</label></dt>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
        </dl>

        <dl>
            <dt><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>单位</label></dt>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
            <dd><input type="checkbox" name="user" value="AMD" style="zoom:130%;"><label>AMD</label></dd>
        </dl>
    </div>
</div>