<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
    <!--左边侧滑菜单部分-->
    <aside id="offCanvasSideLeft" class="mui-off-canvas-left">
        <div id="offCanvasSideScrollLeft" class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="title">侧滑导航</div>
                <div class="content">
                    这是可拖动式侧滑菜单示例，你可以在这里放置任何内容；关闭侧滑菜单有多种方式： 1.在手机屏幕任意位置向左拖动(drag)；2.点击本侧滑菜单页之外的任意位置; 3.点击如下红色按钮
                    <span class="android-only">；4.Android手机按back键；5.Android手机按menu键
							</span>。
                    <p style="margin: 10px 15px;">
                        <button id="offCanvasHide" type="button" class="mui-btn mui-btn-danger mui-btn-block" style="padding: 5px 20px;">关闭侧滑菜单</button>
                    </p>

                </div>
                <div class="title" style="margin-bottom: 25px;">侧滑列表示例</div>
                <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 1
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 2
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 3
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 4
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 5
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 6
								</a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <!--右边侧滑菜单部分-->
    <aside id="offCanvasSideRight" class="mui-off-canvas-right">
        <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <div class="title">侧滑导航</div>
                <div class="content">
                    这是可拖动式侧滑菜单示例，你可以在这里放置任何内容；关闭侧滑菜单有多种方式： 1.在手机屏幕任意位置向右拖动(drag)；2.点击本侧滑菜单页之外的任意位置; 3.点击如下红色按钮
                    <span class="android-only">；4.Android手机按back键；5.Android手机按menu键
							</span>。
                    <p style="margin: 10px 15px;">
                        <button id="offCanvasHide" type="button" class="mui-btn mui-btn-danger mui-btn-block" style="padding: 5px 20px;">关闭侧滑菜单</button>
                    </p>

                </div>
                <div class="title" style="margin-bottom: 25px;">侧滑列表示例</div>
                <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 1
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 2
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 3
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 4
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
									Item 5
								</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">
								Item 6
							</a>
                    </li>

                </ul>
            </div>
        </div>
    </aside>
    <!--主界面部分-->
    <div class="mui-inner-wrap">
        <header class="mui-bar mui-bar-nav">
            <a href="#offCanvasSideLeft" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
            <a id="offCanvasBtn" href="#offCanvasSideRight" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
            <h1 class="mui-title">div模式右滑菜单</h1>
        </header>
        <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell"><b class="mui-icon mui-icon-contact"></b>信息管理
                        <p class="mui-pull-right">0 <span class="mui-icon mui-icon-loop"></span></p>
                    </li>
                    <li class="mui-table-view-cell"><b class="mui-icon mui-icon-contact"></b>考勤管理
                        <p class="mui-pull-right">0 <span class="mui-icon mui-icon-loop"></span></p>
                    </li>
                    <li class="mui-table-view-cell"><b class="mui-icon mui-icon-contact"></b>人事管理
                        <p class="mui-pull-right">0 <span class="mui-icon mui-icon-loop"></span></p>
                    </li>
                    <li class="mui-table-view-cell"><b class="mui-icon mui-icon-contact"></b>邮件管理
                        <p class="mui-pull-right">0 <span class="mui-icon mui-icon-loop"></span></p>
                    </li>
                    <li class="mui-table-view-cell"><b class="mui-icon mui-icon-contact"></b>知识管理
                        <p class="mui-pull-right">0 <span class="mui-icon mui-icon-loop"></span></p>
                    </li>
                </ul>

            </div>
        </div>
        <!-- off-canvas backdrop -->
        <div id="backdrop" class="mui-off-canvas-backdrop"></div>
    </div>
</div>